/* .form-group {
    justify-content: center;
    background-color: green;
    font-weight: bold;

}

.form {
    font-weight: bold;
    background-color: green;
    text-align: end;
}



.header {
    text-align: justify;
    color: red;
} */



body {
    background-image: url("https://i.ibb.co/gPfgg0v/Game-On.png");
    background-color: #cccccc;
   }


   