



.jumbotron {
  background-image: url("https://i.ibb.co/PhV3Jwx/project-Xjumbo.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: 101%;
  
  height: 520px;
  width: 1110px
}

.btn {
  font-weight: bold;
  margin-top: 350px;
  margin-left: 445px;
}