.wrapper {
  display: flex;
  border: solid;
  border-color: red;
  color: white;
  
}

.login {
  width: 100%;
  color: white;
}
.signUp {
  width: 100%;
  color: white;
}

h3.card-title {
 color: white;
}

h3, h5, p {
  color: white;
}

.photo {
  width: 320px;
  height: 320px;
  margin-left: 105px;
}

div.card-row {
  margin-left: 190px;
}

.contact{
  text-align: center;
  color: white;
}

.stylin{
  border: solid;
  border-color: red;
  width: 100%;
  
  margin-right: 0px;
}

div.card-body {
  margin-right: 35px;
  
}