h4 {
    color: white;
}



/* form.signup {
    margin-bottom: -500%;
    padding-bottom: 50%;
} */

/* button.btn.btn-secondary  {
   margin-top: 10px; 
} */


/* div.wrapper.p-3 {
    padding-bottom: 25px;
} */