.charCard {
    height: 300px;
    width: 220px;
    background-color: rgb(0, 0, 0);
    margin: 10px;
   
   
}

.wrapper {
    padding: 1%;
    margin: 1%;
}

.imgCard {
    height: 220px;
    width: 180px;
    background-color: rgb(0, 0, 0);
    opacity: 0.90;
}

.card-title.char-title {
    color: white;
    background-color: black;
}


card {
    
}