



#forbutton {

  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: 101%;
  min-height: 90%;
 background-position: inherit;
  /* width: 100%; */
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 40%;
  min-width: 90%;
  /* margin: 30px; */
  /* height: 120px; */
  /* width: 1110px; */
  /* background-color: black; */

}


#stompit {
  font-weight: bold;
  margin: center;
  color: white;
  background-color: rgb(184, 86, 86);
  padding: 1%;
  border-radius: inherit;
  border-color: ivory;
  border-width: 3px;
  /* margin-top: 60%; */
  /* margin-top: 350px;
  margin-left: 445px; */
  
}