
.About {
    /* batman obama jumbotron */
    /* background-image: url("https://i.ibb.co/jJJbFfq/Purple-and-Peach-Photo-Freelance-Writer-Portfolio-Website.png"); */
    /* project x jumbotron */
    /* background-image: url("https://i.ibb.co/m4Qn5hK/project-x-jumbo.png"); */
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: 101%;
    min-height: 90%;
    background-position: bottom;
   /* background-position: inherit; */
    /* width: 100%; */
    /* margin: 15px; */
    /* height: 520px;
    width: 1110px; */
    background-color: black;
  }

  #jumboimg {
    min-height: 120%;
    margin-top: -7%;
    margin-left: -5%;
    min-width: 110%;
    /* height: 520px;
    width: 1110px; */
  }

