img {

    height: 50px;
    margin-left: 5px;
}


 nav {
    height: 10%;
    /* background-color: black; */
    background-color: black;
}

ul{
    text-align: right;
}

.navbar {
height: 70px;

}


/* .nav-item {
    margin-left: 240px;
    align-items: end;
} */

/* .nav-link {
    margin-right: auto;
   justify-content: right;
}

a.nav-link.active {
    margin-left: 650px;
} */